name: CI

on:
  pull_request_target:
    types: [assigned, opened, synchronize, reopened]
  push:
    branches:
      - main
      - next

jobs:
  test:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'yarn'

      - run: |
          corepack enable
          yarn -v

      - name: Install Dependencies
        run: yarn

      - name: Run Test
        run: yarn test --coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  